<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/styles.css">
	<style>
	body {

	}
	</style>
</head>
<body>
	<div class='main-content'>
	{{>header}}
	<div>
		<p> This site is created by Jackie. It gets its data from: </p>
		<p> mapbox.com & data.gov.sg </p>
	</div>
	<div>
		<img class='portrait' src='/img/Jackie.jpeg'>
	</div>
</div>
	{{>footer}}
</body>
</html>